{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<title>Confirm vehicle status</title>
	</head>
	<body>
		<br>
		<div class="row" class="card">
		
			<div class="col-md-12">
		
				<div class="card-header">
					<h3 align="center">Confirm Vehicle</h3>
				</div>
		
				<div  class="card card-body">
		
					<form method="POST" action="" >
						{% csrf_token %}
			
			
				{% for field in form %}
				<div class="row" align="center">
					<div class="col-md-12">
						<label><b>{{ field.label }}:</b> {{field}}</label>
					</div>
				</div>
				<br>
				{% endfor %}
				<div class="card-footer" align="center">
					<input type="submit" class="profile-edit-btn" name="btnAddMore" value="Submit"/>
					<a class="profile-edit-btn" name="btnAddMore" href="{% url 'dashboard' %}">Back</a>
				</div>
			
					</form>
				</div>
			</div>
		</div>	
	</body>
</html>

{% endblock %}