{%  extends 'accounts/main.html' %}

{% block content %}


<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Space</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"><a href="{% url 'update_total_space' %}">{{total_parking_slots}}</a></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Space occupied</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{space_occupied}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Space vacant</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{space_vacant}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>


<br>

<div class="row">
    <div class="col-md-5">
        <h5>Residents:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'dashboard' %}">List of residents</a>
            <table class="table table-sm">
                <tr>
                    
                    <th>Resident's name</th>
                    <th>Apartment unit</th>
                    <th>Remove</th>
                </tr>

                {% for resident in residents %}
                    <tr>
                        {% if resident.user != request.user %}
                        <td>{{resident}}</td>
                        <td>{{resident.apt_unit}}</td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_resident' resident.id %}">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>List of Vehicles</h5>
        <hr>
        <div class="card card-body">

            <br>

            <div class="row">
                <div class="col-md-12">
                    <form method="get">
                        <p><b>{{searchFilter.form}}</b></p>
        
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Filter</button>
                  </form>
                </div>
            </div>

          <br>
          
            
            <table class="table table-sm">
                <tr>
                    <th>Vehicle owner</th>
                    <th>Apt Unit</th>
                    <th>License plate</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

                {% for vehicle in vehicles %}
                    <tr>
                        <td>{{vehicle.owner}}</td>
                        <td>{{vehicle.owner.apt_unit}}</td>
                        <td>{{vehicle.license_plate}}</td>
                        <td>{{vehicle.make}}</td>
                        <td>{{vehicle.model}}</td>
                        <td>{{vehicle.status}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_vehicle' vehicle.id %}">Update</a></td>

                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_vehicle' vehicle.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
        
            </table>
        </div>
    </div>

</div>

{% endblock %}

