{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}


<br>

<div class="row">
    <div class="col-md-5">
        <h5>Residents:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'add_resident' %}">Add Resident</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Resident's name</th>
                    <th>Apartment unit</th>
                </tr>

            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>List of Vehicles</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="">Add vehicle</a>
            <table class="table table-sm">
                <tr>
                    <th>License plate</th>
                    <th>Make/Model</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

<!--                 {% for vehicles in vehicles %}
                    <tr>
                        <td>{{vehicles.license_plate}}</td>
                        <td>{{vehicles.make}}</td>
                        <td>{{vehicles.status}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_vehicle' vehicle.id %}">Update</a></td>

                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' vehicle.id %}">Delete</a></td>

                    </tr>
                {% endfor %} -->
        
            </table>
        </div>
    </div>

</div>

{% endblock %}

