{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<title>Edit personal information</title>
	</head>
    <body>
        <br>
        <div class="row" class="card">
		
			<div class="col-md-12">
		
				<div class="card-header">
					<h3 align="center">Edit profile</h3>
				</div>

                <div  class="card card-body">



<!--  form tag below contains special customization for profile pic uploading feature  -->
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}


    <!-- <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{request.user.customer.profile_picture.url}}"/>
            </div>
        </div>
    </div> -->
    

    {% for field in form %}
    <div class="row" align="center">
        <div class="col-md-12">
            <label><b>{{ field.label }}:</b> {{field}}</label>
        </div>
    </div>
    <br>
    {% endfor %}

    <div class="card-footer" align="center">
        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Update Profile"/>
        <a class="profile-edit-btn" name="btnAddMore" href="{% url 'dashboard' %}">Back</a>
    </div>

    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
   
</form>
                </div>
            </div>
        </div>
    </body>

    


{% endblock %}