{% load static %}

    <!--  form tag below contains special customization for profile pic uploading feature  -->
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{request.user.customer.profile_picture.url}}"/>
                    </div>
                </div>
            </div>
            

            {% for field in form %}
            <div class="row">
                <div class="col-md-6">
                    <label>{{ field.label }}</label>
                </div>
                <div class="col-md-10">
                    <p>{{field}}</p>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-8">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Update Profile"/>
                <a class="profile-edit-btn" name="btnAddMore" href="{% url 'dashboard' %}">Back</a>
            </div>

        </form>

