<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div>
            <h1>Login Page</h1>
            <form method="POST" action="">
            {% csrf_token %}
           <input type="text" name="username" placeholder="Enter username"/>
           <input type="password" name="password" placeholder="Enter password"/>
           <input type="submit" name="submit" class="submit action-button" value="Sign in" />     
        <div>
            {% for message in messages %}
            <p>{{messages}}</p>
            {% endfor %}
        </div>
        </form>
        <a href="{% url 'register' %}">Not registered yet?</a>
        <a href="{% url 'reset_password' %}">Forgot password?</a>
        <a href="{% url 'home' %}">Back</a>
        </div>
    </body>
</html>
