{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img src = "{% static 'images/logo.png' %}"width="200" height="100" alt="Computer Hope">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'detect' %}">Activate camera</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'notifications' %}">Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">logout</a>
      </li>
    </ul>
  </div>
</nav>