<!-- <h3>Email password reset link</h3>

<p>Please enter the valid email address associated with your account for password reset link.</p>

<form method="post">
	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email">
</form> -->

{% load static %}
<html>
	<head>
		<title>Reset password</title>
		
		<link rel="stylesheet" type="text/css" href="{% static '/css/resetpassword.css' %}">
		<style>
			div {text-align: center;}
		</style>
	</head>

	<body>
		<div>
			<tr>
				<h3>Email password reset link</h3>

				<p>Please enter the valid email address associated with your account for password reset link.</p>

				<form method="post">
					{% csrf_token %}
					{{form}}
					<input type="Submit" name="Send email">		
				</form>
			</tr>
		</div>
	</body>
	
</html>