
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Space</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">100</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Space occupied</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">80</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Space vacant</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">20</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>