/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(247, 244, 244);
}

.form-container {
    display: flex;
    height: 98hv;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container .form-wrap{
    background: #fff;
    width: 40%;
    padding: 15px 20px;
}
.form-container .form-wrap h2{
    text-align: center;
}

.form-container .form-wrap .form-box{}

.form-container .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 3px;
    border:1px solid #353535;
    width: 100%;
}
.form-container .form-wrap .from-submit {
    display: flex;
    justify-content: center;
}

.form-container .form-wrap .from-submit [type="submit"]{
    padding: 8px 14px;
    border: none;
    border-radius: 2px;
    background: #cfcece;
    color: rgb(10, 10, 10);
    font-weight: 800;
    font-size: 19px;
} */
.container{
    width: 500px;
    clear: both;
    /* display: flex;
    height: 98hv;
    justify-content: center;
    /* align-items: center;  */
}

.container input{
    width: 50%;
    margin: center;
    clear: both;
  
}