.container{
    width: 500px;
    clear: both;
    /* display: flex;
    height: 98hv;
    justify-content: center;
    /* align-items: center;  */
}

.container input{
    width: 50%;
    margin: center;
    clear: both;
  
}